.container-fluid {
  font-family: Arial;
  line-height: 1.4;
}
.container-fluid .header {
  background: #445162;
  color: #fff;
}
.container-fluid .header .row {
  padding: 50px 0;
}
@media (max-width: 576px) {
  .container-fluid .header .row .logo {
    max-width: 469px;
    width: 100%;
  }
}
.container-fluid .header .row h1 {
  font-size: 60px;
}
.container-fluid .header .row ul {
  padding: 6px 6px 0;
}
.container-fluid .header .row ul li {
  font-size: 20px;
  list-style-type: none;
  padding-left: 35px;
  position: relative;
}
.container-fluid .header .row ul li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 19px;
  background: url("../image/sprite.png") 0 19px;
}
.container-fluid .about_product .row {
  padding: 50px 0;
}
.container-fluid .about_product .row h2 {
  color: #445162;
  font-size: 30px;
}
.container-fluid .about_product .row p {
  font-size: 16px;
}
@media (max-width: 576px) {
  .container-fluid .about_product .row .product {
    max-width: 430px;
    width: 100%;
  }
}
.container-fluid .pluses_product {
  background: #f5f5f5;
}
.container-fluid .pluses_product .row {
  padding: 25px 0;
}
.container-fluid .pluses_product .row h2 {
  font-size: 30px;
  color: #445162;
}
.container-fluid .pluses_product .row ul li {
  list-style-type: none;
  padding: 0 15px 32px 44px;
  font-size: 16px;
  position: relative;
}
.container-fluid .pluses_product .row ul li:before {
  position: absolute;
  text-align: center;
  font-size: 25px;
  content: "+";
  top: 4px;
  left: 0;
  width: 32px;
  height: 32px;
  background: #445162;
  color: #fff;
}
.container-fluid .scrinshots .row {
  padding: 10px 0;
}
.container-fluid .scrinshots .row h2 {
  font-size: 30px;
  color: #445162;
  padding-top: 15px;
}
.container-fluid .scrinshots .row .in_scrinshots h3 {
  font-size: 24px;
  color: #445162;
}
.container-fluid .scrinshots .row .in_scrinshots .some_product {
  padding-left: 15px;
}
.container-fluid .scrinshots .row .in_scrinshots .in_scrinshots_text {
  padding: 0 15px;
  font-size: 16px;
}
.container-fluid .reviews {
  background: #f5f5f5;
}
.container-fluid .reviews .row {
  padding: 25px 0;
}
.container-fluid .reviews .row .in_reviews {
  padding: 15px;
}
.container-fluid .reviews .row .in_reviews .client {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #445162;
  text-align: center;
}
.container-fluid .reviews .row .in_reviews .in_reviews_text {
  background: #ebebeb;
  margin: 0 15px;
  font-style: italic;
  font-size: 14px;
}
.container-fluid .reviews .row .in_reviews .in_reviews_text span {
  font-style: normal;
  color: #989898;
}
.container-fluid .price .row {
  padding: 25px 0;
}
.container-fluid .price .row h2 {
  font-size: 30px;
  color: #445162;
}
.container-fluid .price .row .packets {
  background: #445162;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  max-width: 300px;
  margin: 15px 23px;
}
.container-fluid .price .row .packets h3 {
  margin-top: 15px;
  font-size: 24px;
  color: #fff;
}
.container-fluid .price .row .packets .price_paket {
  background: #fff;
  color: #445162;
  font-size: 40px;
  margin: 15px 2px;
}
.container-fluid .price .row .packets p {
  text-align: left;
  padding-left: 15px;
  line-height: 1;
}
.container-fluid .price .row .packets button {
  text-transform: uppercase;
  color: #445162;
  font-size: 18px;
  font-weight: 600;
  padding: 7px 115px;
  margin-bottom: 20px;
}
.container-fluid .price .row .owl-carousel-block .packets {
  cursor: pointer;
}
.container-fluid .footer {
  background: #445162;
}
.container-fluid .footer .row {
  padding: 25px 0;
}
.container-fluid .footer .row h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}
.container-fluid .footer .row form button {
  text-transform: uppercase;
  color: #445162;
  font-weight: 600;
  padding: 7px 40px;
  cursor: pointer;
  background: #fff;
}
.container-fluid .footer .row form button:hover {
  background: #989898;
}
.container-fluid .footer .row form textarea {
  resize: none;
}
.container-fluid .footer .row .block_contacts {
  padding: 15px 15px;
}
.container-fluid .footer .row .block_contacts .contacts li {
  list-style-type: none;
  position: relative;
  padding: 10px 35px;
}
.container-fluid .footer .row .block_contacts .contacts li a {
  color: #fff;
}
.container-fluid .footer .row .block_contacts .contacts li a.skype:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 26px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../image/sprite.png") -34px 26px;
}
.container-fluid .footer .row .block_contacts .contacts li a.number:before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../image/sprite.png") -67px 27px;
}
.container-fluid .footer .row .block_contacts .contacts li a.mail:before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../image/sprite.png") -102px 24px;
}
.container-fluid .footer .row .block_contacts .contacts li a.phone:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 23px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../image/sprite.png") -133px 25px;
}
.container-fluid .footer .row .social {
  padding-left: 10px;
}
.container-fluid .footer .row .social li {
  padding: 3px;
  list-style-type: none;
  font-size: 0;
}
.container-fluid .footer .row .social li a {
  display: inline-block;
  font-size: 16px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.container-fluid .footer .row .social li a:hover {
  border: 2px solid #1c5dcf;
  box-sizing: border-box;
}
.container-fluid .footer .row .social li a.twitter {
  background: url("../image/sprite.png") -1px 0;
}
.container-fluid .footer .row .social li a.facebook {
  background: url("../image/sprite.png") -50px 0;
}
.container-fluid .footer .row .social li a.link {
  background: url("../image/sprite.png") -99px 0;
}
.container-fluid .footer .row .social li a.gmail {
  background: url("../image/sprite.png") 91px 0;
}
.container-fluid .footer .row .social li a.uTube {
  background: url("../image/sprite.png") 42px 0;
}

/*# sourceMappingURL=scss.css.map */
