.container-fluid {
  font-family: Arial;
  line-height: 1.4;
  .header {
    background: #445162;
    color: #fff;

    .row {
      padding: 50px 0;
      @media (max-width: 576px) {
        .logo {
          max-width: 469px;
          width: 100%;
        }}
      h1 {
        font-size: 60px;

      }
      ul {
        padding: 6px 6px 0;
        li {
          font-size: 20px;
          list-style-type: none;
          padding-left: 35px;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 19px;
            background: url("../image/sprite.png") 0 19px;
          }
        }
      }
    }

  }

  .about_product {
    .row {
      padding: 50px 0;
      @media (max-width: 576px) {
        .product {
          max-width: 430px;
          width: 100%;
        }}
            h2{
        color: #445162;
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .pluses_product {
    background: #f5f5f5;
    .row {
      padding: 25px 0;
      h2{
        font-size: 30px;
        color: #445162;
      }
      ul {
        li {
          list-style-type: none;
          padding: 0 15px 32px 44px;
          font-size: 16px;
          position: relative;
          &:before {
            position: absolute;
            text-align: center;
            font-size: 25px;
            content: '+';
            top: 4px;
            left: 0;
            width: 32px;
            height: 32px;
            background: #445162;
            color: #fff;
          }
        }
      }
    }
  }
  .scrinshots{
    .row {
      padding: 10px 0;
      h2{
        font-size: 30px;
        color: #445162;
        padding-top: 15px;
      }
      .in_scrinshots {
        h3{
          font-size: 24px;
          color: #445162;
        }
        .some_product{
          padding-left: 15px;
        }
        .in_scrinshots_text {
          padding: 0 15px;
          font-size: 16px;
        }
      }
    }
  }
  .reviews {
    background: #f5f5f5;
    .row{
      padding: 25px 0;
    }
    .client {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background: #445162;
      text-align: center;
    }
    .in_reviews {
      padding: 15px;
      .in_reviews_text {
        background: #ebebeb;
        margin: 0 15px;
        font-style: italic;
        font-size: 14px;
        span{
          font-style: normal;
          color: #989898;
        }
      }
    }
  }
  .price {
    .row {
      padding: 25px 0;
      h2{
        font-size: 30px;
        color: #445162;
      }
      h3 {
        margin-top: 15px;
        font-size: 24px;
        color: #fff;
      }
      .owl-carousel-block{
        .packets{
          cursor: pointer;
        }
      }
      .packets {
          background: #445162;
          border-radius: 6px;
          font-size: 14px;
          color: #fff;
          max-width: 300px;
          margin: 15px 23px;
          .price_paket {
            background: #fff;
            color: #445162;
            font-size: 40px;
            margin: 15px 2px;
          }
          p{
            text-align: left;
            padding-left: 15px;
            line-height: 1;
          }
          button{
            text-transform: uppercase;
            color: #445162;
            font-size: 18px;
            font-weight: 600;
            padding: 7px 115px;
            margin-bottom: 20px;
        }
      }

    }
  }
  .footer {
    background: #445162;
    .row {
      padding: 25px 0;
      h2 {
        color: #fff;
        font-size: 30px;
        margin-bottom: 30px;
      }
      button {
        text-transform: uppercase;
        color: #445162;
        font-weight: 600;
        padding: 7px 40px;
        cursor: pointer;
        background: #fff;
        &:hover{
          background: #989898;
        }
      }
      textarea {
           resize: none;
      }
      .block_contacts {
        padding: 15px 15px;
        .contacts {
          li {
            list-style-type: none;
            position: relative;
            padding: 10px 35px;
            a {
              color: #fff;
            }
            .skype:before {
              position: absolute;
              content: '';
              width: 24px;
              height: 26px;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              background: url("../image/sprite.png") -34px 26px;
            }
            .number:before {
              position: absolute;
              content: '';
              width: 26px;
              height: 26px;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              background: url("../image/sprite.png") -67px 27px;
            }
            .mail:before {
              position: absolute;
              content: '';
              width: 22px;
              height: 22px;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              background: url("../image/sprite.png") -102px 24px;
            }
            .phone:before {
              position: absolute;
              content: '';
              width: 24px;
              height: 23px;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              background: url("../image/sprite.png") -133px 25px;
            }
          }

        }
      }
      .social {
        padding-left: 10px;
        li {
          padding: 3px;
          list-style-type: none;
          font-size: 0;

            a {
              display: inline-block;
              font-size: 16px;
              width: 42px;
              height: 42px;
              border-radius: 50%;
              &:hover {
                border: 2px solid #1c5dcf;
                box-sizing: border-box;
              }
          }
          .twitter {
            background: url("../image/sprite.png") -1px 0;
          }
          .facebook {
            background: url("../image/sprite.png") -50px 0;
          }
          .link {
            background: url("../image/sprite.png") -99px 0;
          }
          .gmail {
            background: url("../image/sprite.png") 91px 0;
          }
          .uTube {
            background: url("../image/sprite.png") 42px 0;
          }
        }
      }
    }
  }
}

